In [30]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [31]:
datatrain=pd.read_csv("mnist_train.csv")
datatrain.head(5)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
datatrain.shape

(60000, 785)

In [33]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 785 entries, label to 28x28
dtypes: int64(785)
memory usage: 359.3 MB

In [34]:
datatrain.isnull().values.any()

False

In [35]:
trainimage=datatrain.iloc[:,1:784]
trainimage.head(2)

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x18,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
trainlabel=datatrain.iloc[:,0]
trainlabel.head(7)

0    5
1    0
2    4
3    1
4    9
5    2
6    1
Name: label, dtype: int64

In [37]:
datatest=pd.read_csv("mnist_test.csv")
datatest.head(5)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
testimage=datatest.iloc[:,1:784]
testimage.head(2)

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x18,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
testlabel=datatest.iloc[:,0]
testlabel.head(7)

0    7
1    2
2    1
3    0
4    4
5    1
6    4
Name: label, dtype: int64

In [40]:
print(trainimage.shape)
print(testimage.shape)
print(trainlabel.shape)
print(testlabel.shape)

(60000, 783)
(10000, 783)
(60000,)
(10000,)

In [41]:
trainimage=(trainimage/255)-.5
testimage=(testimage/255)-.5

In [42]:
trainimage.head(3)

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x18,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27
0,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,...,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5
1,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,...,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5
2,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,...,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5,-0.5

In [43]:
trainlabel.head(5)

0    5
1    0
2    4
3    1
4    9
Name: label, dtype: int64

In [44]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout,BatchNormalization

In [45]:
model=Sequential()

In [46]:
model.add(Dense(64,activation="relu", input_shape=(783,)))

In [47]:
model.add(Dense(64,activation="relu"))

In [48]:
model.add(Dense(90,activation="relu"))

In [49]:
model.add(Dense(10,activation="softmax"))

In [50]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [ ]:
from keras.utils import to_categorical
model.fit(trainimage,to_categorical(trainlabel),epochs=500,batch_size=32)

Epoch 1/500
60000/60000 [==============================] - 3s 57us/step - loss: 0.3348 - accuracy: 0.8971
Epoch 2/500
60000/60000 [==============================] - 3s 52us/step - loss: 0.1682 - accuracy: 0.9482
Epoch 3/500
60000/60000 [==============================] - 3s 56us/step - loss: 0.1324 - accuracy: 0.9585
Epoch 4/500
60000/60000 [==============================] - 3s 54us/step - loss: 0.1121 - accuracy: 0.9638
Epoch 5/500
60000/60000 [==============================] - 3s 53us/step - loss: 0.1017 - accuracy: 0.9677
Epoch 6/500
13824/60000 [=====>........................] - ETA: 2s - loss: 0.0857 - accuracy: 0.9720

In [ ]:
model.evaluate(testimage,to_categorical(testlabel))

In [ ]:
prediction=model.predict(testimage[:5])
print(prediction)
print(np.argmax(prediction,axis=1))
print(testlabel[:5])

In [ ]:
for i in range(0,5):
    fimage=testimage[i]
    fimage=np.array(fimage,dtype="float")
    pix=fimage.reshape((28,28))
    plt.imshow(pix)
    plt.show()